{% block _annonce_images_widget %}
	{{ form_widget(form) }}
{% endblock %}

{% block _annonce_images_entry_row %}
	<div id="block_{{id}}">
		{{ form_widget(form) }}
	</div>
{% endblock %}

{% block _annonce_images_entry_widget %}
	<div class="row justify-content-around align-items-center mb-5">
		<div class="col-4">
			{% if value %}
				<img src="/images/{{value.url}}" class="img-fluid" alt="{{value.title}}">
			{% endif %}
		</div>
		<div class="col-6">
			<div>
				{{form_widget(form.url)}}
				{{form_help(form.url)}}
			</div>
			<div class="mt-3">
				{{form_label(form.title)}}
				{{form_widget(form.title)}}
			</div>
		</div>
		<div class="col-2">
			<button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">
				<i class="far fa-trash-alt"></i>
			</button>
		</div>
	</div>
{% endblock %}
