{% extends "admin/base.html.twig" %}

{% block title %}Editer annonce n° {{ ad.id}}{% endblock %}

{% form_theme form with 
    [
        'admin/ad/_collection.html.twig',
        'ad/_radioButton.html.twig',
        'ad/_checkboxButton.html.twig'
    ]
%}

{% block body %}
    <div class="container">
        <h1 class="my-5">Annonce : {{ ad.title }}</h1>
        {{ form_start(form)}}
        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Modifier l'annonce</h4>
                    </div>
                    <div class="card-body">
                        {{ form_widget(form)}}
                        <button type="submit" class="btn btn-success">Sauvegarder les modifications</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Les réservations associées</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Voyageur</th>
                                    <th>Date de réservation</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in ad.bookings %}
                                <tr>
                                    <td>{{ booking.id}}</td>
                                    <td>{{ booking.booker.fullName}}</td>
                                    <td>{{ booking.createdAt | date('d/m/Y à H:i')}}</td>
                                    <td>
                                        <a href="{{path("admin_booking_edit", {"id": booking.id})}}" class="btn btn-warning">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card bg-light my-5">
                    <div class="card-header">
                        <h4 class="card-title">Les commentaires reçus</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Auteur</th>
                                    <th>Contenu</th>
                                    <th>Note</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in ad.comments %}
                                <tr>
                                    <td>{{ comment.id}}</td>
                                    <td>{{ comment.author.fullName}}</td>
                                    <td>{{ comment.content | raw}}</td>
                                    <td>{{ comment.note | round(1, 'common')}}</td>
                                    <td>
                                        <a href="{{path("admin_comment_edit", {"id": comment.id})}}" class="btn btn-warning">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form)}}
    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('[data-action="delete"]').on('click', function () {
            const target = this.dataset.target;
            $(target).remove();
        });
    });
</script>
{% endblock %}