{% extends "/admin/base.html.twig" %}

{% block title %}Administration des annonces{% endblock %}

{% block body %}
    <div class="container-fluid mx-auto">
        <div class="row">

            {% include "admin/partials/adminMenu.html.twig" %}
        
            <div class="col-10 mb-5">
                <h1 class="py-3 text-center">Liste des annonces</h1>
                <table class="table table-striped" id="myAdTable">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th class="text-center">Réservations</th>
                            <th class="text-center">Note</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ad in pagination.data %}
                            <tr>
                                <td>{{ ad.id }}</td>
                                <td>{{ ad.title }}</td>
                                <td>
                                    <img src="{{ ad.author.avatar }}" alt="Avatar de {{ ad.author.fullName }}" class="avatar-mini">
                                    {{ ad.author.fullName }}
                                </td>
                                <td class="text-center">{{ ad.bookings | length }}</td>
                                <td class="text-center"><strong>{{ ad.avgRating | round(1, 'common')}}</strong> / 5</td>
                                <td>
                                    <a href='{{path("admin_ad_edit", {"id": ad.id})}}' class="btn btn-info">
                                        <i class="fas fa-pencil-alt"></i> Editer
                                    </a>
                                    <a href="{{path("admin_ad_delete", {"id": ad.id})}}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cette annonce ?')" class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i> Supprimer
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ pagination.display }}
                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#myAdTable').DataTable();
		$('#myAdTable_length').hide();
    } );
</script>

{% endblock %}

