{% extends 'base.html.twig' %}

{% block title %}Connexion Administrateur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="col-md-6 admin-login-form">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title text-center"><i class="fas fa-user-lock"></i> Connexion à l'administration</h4>
                </div>
                <div class="card-body">
                    {% if hasError %}
                        <div class="alert alert-danger">
                            <p>Votre identifiant et/ou mot de passe sont incorrecte</p>
                        </div>
                    {% endif %}

                    <form method="POST">
                        <div class="form-group">
                            <label for="_username">Email Administrateur</label>
                            <input type="text" class="form-control" placeholder="Votre email d'administrateur...." name="_username" value="{{ username }}">
                        </div>
                        <div class="form-group">
                            <label for="_password">Mot de psse</label>
                            <input type="password" class="form-control" placeholder="Votre mot de passe..." name="_password">
                        </div>
                        <div class="form-group mt-5">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}">
                            <button type="submit" class="btn btn-success"><i class="fas fa-unlock-alt"></i> Se connecter</button>
                            <a href="{{path('homepage')}}" class="btn btn-link"><i class="fas fa-arrow-circle-left"></i> Retour à la page d'acceuil</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
