{% extends "/admin/base.html.twig" %}

{% block title %}Editer l'utilisateur n° {{ user.id}}{% endblock %}


{% block body %}
	<div class="container my-5">
	<h1 class="my-5">Modifier les informations de {{ user.fullName}}</h1>
		{{ form_start(form) }}

		{{ form_widget(form) }}
		    <button type="submit" class="btn btn-success">Sauvegarder les modifications</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
