{% extends "/admin/base.html.twig" %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}
	<div class="container-fluid mx-auto admin-user-index">
		<div class="row">
		
			{% include "admin/partials/adminMenu.html.twig" %}

			<div class="col-10 mb-5">
				<h1 class="py-3 text-center">Liste des utilisateurs</h1>
				<table class="table table-striped" id="myUserTable">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th class="text-center">Nom complet</th>
							<th class="text-center">Email</th>
							<th class="text-center">Pays</th>
							<th class="text-center">Thématiques</th>
							<th class="text-center">Annonces</th>
							<th class="text-center">Réservations</th>
							<th class="text-center">Commentaires</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for user in pagination.data %}
							<tr>
                                <td>{{ user.id }}</td>
								<td class="text-center">
                                    <img src="{{ user.avatar }}" alt="Avatar de {{ user.fullName }}" class="avatar-mini">
                                    <br>{{ user.fullName }}
								</td>
                                <td class="text-center">{{ user.email }}</td>
                                <td class="text-center user-country">{{ user.country }}</td>
                                <td class="text-center user-theme">
                                    {% for theme in user.themes %}

                                        {{ theme.name }},
                                    
                                    {% endfor %}
                                </td>
                                <td class="text-center">{{ user.ads | length }}</td>
                                <td class="text-center">{{ user.bookings | length }}</td>
                                <td class="text-center">{{ user.comments | length }}</td>
                                <td>
									<a href="{{path('admin_user_edit', {'id': user.id})}}" class="btn btn-info">
										<i class="fas fa-pencil-alt"></i>
										Editer
									</a>
									<a href="{{path('admin_user_delete', {'id': user.id})}}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cet utilisateur ?')"class="btn btn-danger">
										<i class="far fa-trash-alt"></i>
										Supprimer
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{{ pagination.display }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function () {
			$('#myUserTable').DataTable();
		});
	</script>

{% endblock %}
