{# Affichage des inputs checkbox #}
{% block _account_themes_entry_row %}

	{{ form_widget(form) }}

{% endblock %}

{# Personnalisation des input checkbox #}
{% block  _account_themes_entry_label %}
	<div class="custom-control custom-checkbox">
		<input type="checkbox" {{ block('widget_attributes') }} class="form-check-input custom-control-input" {% if value is defined %} value="{{ value }}" {% endif %} {% if checked %} checked="checked" {% endif %}/>

		{% if label is not same as(false) %}

			{% if not compound %}
				{% set label_attr = label_attr | merge({'for': id}) %}
			{% endif %}

			{% if required %}
				{% set label_attr = label_attr | merge({'class': (label_attr.class | default('') ~ 'form-check-label required') | trim}) %}
			{% endif %}

			{% if label is empty %}
				{% set label = name | humanize %}
			{% endif %}

			<label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}" class="custom-control-label" {% endfor %}>{{ label|trans({}, translation_domain) }}

			</label>
		{% endif %}
	</div>
{% endblock %}
