{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}

    {% include 'partials/profileNavbar.html.twig' %}

    <div class="container account-bookings">
        <h1 class="text-center my-5">Mes réservations</h1>
        
        {% if app.user.bookings | length > 0 %}

            {% for booking in app.user.bookings %}
                {% set ad = booking.ad %}

                <div class="row mt-5">
                    <div class="col-sm-12 col-md-4">
                        <img src="/images/{{ ad.coverImage}}" alt="Image de l'annonce {{ad.title}}" class="img-fluid">
                        <div class="mt-3">

                            {% set comment = ad.commentFromAuthor(app.user) %}
                            {% if comment is not null %}
                                <strong>Note donnée :</strong>{% include "partials/notes.html.twig" with {'notes': comment.note} %}
                            {% else %}
                                Vous n'avez pas donné de note.
                                <a href="{{path('booking_show', {'id': booking.id }) }}#comment" class="btn btn-outline-success btn-rating mt-3">Je donne mon avis !</a>

                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <a href="{{ path('ad_show', {'slug': ad.slug }) }}">
                            <h4>{{ad.title}}</h4>
                        </a>
                        <p>Réservation <strong>n° {{ booking.id }}</strong><p>
                        <p>Du {{ booking.arriveDate | date('d/m/Y') }} au {{ booking.leaveDate | date('d/m/Y') }} ({{ booking.totalPrice }}&euro;)</p>
                        <p>Ville visité : {{ ad.city }} ({{ ad.country }})</p>
                        <a class="btn btn-info" href="{{ path('booking_show', {'id': booking.id }) }}">Plus d'information</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger">
                <h3>{{ app.user.fullName}}, vous n'avez encore pas fait des réservations !</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}