{% extends 'base.html.twig' %}

{% block title %}Annonces Préferées{% endblock %}

{% block body %}

    {% include 'partials/profileNavbar.html.twig' %}

    <div class="container account-bookings">
        <h1 class="text-center my-5">Mes coups de coeur</h1>
        
        {% if app.user.adsLiked | length > 0 %}
            <div class="row">
              {% for ad in app.user.adsLiked %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4">
                  {% include "ad/_ad.html.twig" %}
                </div>
              {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-danger">
                <h3>{{ app.user.fullName}}, vous n'avez pas des annonces préferées !</h3>
            </div>
        {% endif %}
    </div>

{% endblock %}