{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="container login-page">
        <div class="row mt-5">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light mt-5 p-5 shadow">
                    <h1>Se connecter</h1>

                    {% if hasError %}
                        <div class="alert alert-danger">Votre mot de passe ou le nom d'utilisateur ne sont pas correctes, reesayez avec les bons identifiants !</div>
                    {% endif %}
                    
                    <form action="{{ path('account_login') }}" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="_username" id="email" class="form-control" placeholder="Votre adresse email..." required value="{{username}}">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" placeholder="Votre mot de passe..." class="form-control" required>
                        </div>
                        <div class="form-group">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}">
                            <button type="submit" class="btn btn-success">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
