{% extends "base.html.twig" %}

{% block title %}Mise à jour du mot de passe{% endblock %}

{% block body %}

    {% include 'partials/profileNavbar.html.twig' %}

    <div class="container password-update my-5">
        <h1 class="text-center my-5">Modification du mot de passe</h1>

        {{ form_start(form) }}
        
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Mettre à jour le mot de passe</button>
        {{ form_end(form) }}
    </div>
{% endblock %}