{% extends "base.html.twig" %}

{% block title %}Editer mon compte{% endblock %}

{% form_theme form with ['account/_checkboxButton.html.twig'] %}

{% block body %}
    {% include 'partials/profileNavbar.html.twig' %}

    <h1 class="text-center my-5">Editer mon compte</h1>
    <div class="container my-5">
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Editer mon compte</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

