{% extends "base.html.twig" %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <div class="container my-5">
        <h2>Formulaire de création d'un compte</h2>
        {{ form_start(form) }}
        
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">S'enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
