<div class="col-sm-6 col-md-6 col-lg-4">
	<div class="card mb-3 shadow">
		<div class="row no-gutters">
			<div class="card-body">
				<a href="{{path("ad_show", {"slug": ad.slug}) }}">
					<img src="/images/{{ ad.coverImage}}" alt="Image de l'annonce {{ad.title}}">
				</a>
				<div class="card-content px-4">
					<a href="{{path("ad_show", {"slug": ad.slug}) }}">
						<h5 class="card-title">
							{% if app.user and ad.searchSameTheme(app.user) and ad.author is not same as(app.user) %}
								<i class="fas fa-bolt faa-flash animated match-icon"></i>
							{% endif %}

							{{ ad.title }}
						</h5>
					</a>

					{% set descriptionSliced = ad.description | slice(0,90) ~ '...' %}

					<p class="card-text">
						<small>{{descriptionSliced |  raw }}</small>
					</p>
					<p>
						<small class="text-muted">{{ ad.capacity }} voyageur(s) - {{ad.houseType.name }}</small>
					</p>
					<p>{{ ad.city }} ({{ad.country}})</p>
					<p>
						<small>Thémes : 
							{% for theme in ad.themes %}
								{% if app.user and theme in app.user.themes and ad.author is not same as(app.user) %}
									<strong>{{ theme.name }}</strong>{% if not loop.last %},{% endif %}
								{% else %}
									{{ theme.name }}{% if not loop.last %},{% endif %}
								{% endif %}
							{% endfor %}

						</small>
					</p>
					<div class="col-md-4 card-img-badge float-right pt-3 mr-1">
						<a href="{{ path("user_show", {"slug": ad.author.slug}) }}">
							<img src="{{ ad.author.avatar}}" class="avatar-mini" alt="Avatar de {{ad.author.fullName}}">
						</a>
					</div>

					<p class="card-text">

						{% if ad.comments | length > 0 %}

							{% include 'partials/notes.html.twig' with {'notes': ad.avgRating } %}

							<strong>{{ ad.avgRating | round(1, 'common')}}</strong>

						{% else %}

							<small>Pas encore noté</small>

						{% endif %}
					</p>
					<p class="price-card">Prix :
						{{ ad.price }}€ / nuit
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
