{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
	<header class="homepage-header">
		<div class="bg-video d-none d-sm-block d-md-block">
			<video class="bg-video-content" autoplay muted loop>
				<!-- <source src="images/coverr-not-urban-life.mp4" type="video/mp4"> -->
				<!-- <source src="images/Woman.mp4" type="video/mp4"> -->

				<source
				src="images/Grand-Teton-Road.mp4" type="video/mp4"> <!-- <source src="img/video.webm" type="video/webm"> -->
				Your browser is not supported!
			</video>
		</div>
		<div class="bg-image d-block d-sm-none d-md-none">
			<img src="/images/bg2.jpg" alt="">
		</div>
		<div class="main-heading">
			{% if app.user %}
				<h1 class="main-title">Bonjour
					<strong>{{app.user.firstName}}</Strong>
					!</h1>
			{% else %}
				<h1 class="main-title">Bonjour les voyageurs!</h1>
			{% endif %}

			<h2 class="main-subtitle1">Entrez et découvrez une nouvelle façon de voyager</h2>
			<h2 class="main-subtitle2">Vivez des experiences uniques et des moments inoubliables</h2>

			<a href="{{ path('ad_index')}}" class="btn btn-success btnHome">Decouvrir</a>
		</div>
	</header>

	<div class="container homepage-content">
		<div class="row how-works shadow mb-5">
			<div class="col-md-4">
				<div class="find-theme">
					<div class="logos">
						<i class="fas fa-bicycle fa-2x"></i>
						<i class="fas fa-guitar fa-2x"></i>
						<i class="fas fa-music fa-2x"></i>
						<i class="fas fa-heart fa-2x"></i>
					</div>
					<div class="how-works-text">
						<h3>Trouvez des locations avec différentes thématiques</h3>
					</div>
				</div>
			</div>
			<i class="fas fa-ellipsis-h fa-2x dots"></i>
			<div class="col-md-3">
				<div class="book-place">
					<div class="logos">
						<i class="fas fa-map-marked-alt fa-2x"></i>
						<i class="fas fa-home fa-2x"></i>
						<i class="far fa-calendar-alt fa-2x"></i>
					</div>
					<div class="how-works-text">
						<h3>Choisisez un lieu et une date</h3>
					</div>
				</div>
			</div>
			<i class="fas fa-ellipsis-h fa-2x dots"></i>
			<div class="col-md-4">
				<div class="pack-and-travel">
					<div class="logos">
						<i class="far fa-thumbs-up fa-2x"></i>
						<i class="fas fa-hiking fa-2x"></i>
					</div>
					<div class="how-works-text">
						<h3>Faites vos bagages et c'est parti pour des nouvelles aventures!</h3>
					</div>
				</div>
			</div>
		</div>
		<h2>Découvrez nos annonces les plus reputéés</h2>
		<div class="row my-5 best-ads">

			{% for data in ads %}
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4">
					{% include "ad/_ad.html.twig" with {'ad': data.ad} %}
				</div>
			{% endfor %}

		</div>
		<h2>Les hôtes préféres de nos voyageurs</h2>
		<div class="row my-5 best-users">

			{% for data in users %}

				<div class="col-12 col-sm-6 col-md-6 col-lg-4">
					<div class="card mb-3 border-primary shadow">
						<div class="row no-gutters">
							<div class="col-md-4 card-img-content">
								<a href="{{ path("user_show", {"slug": data.user.slug}) }}">
									<img src="{{ data.user.avatar}}" class="avatar-small" alt="Avatar de {{data.user.fullName}}">
								</a>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<a href="{{ path("user_show", {"slug": data.user.slug}) }}">
										<h5 class="card-title">@{{ data.user.nickName }}</h5>
									</a>

									{% set descriptionSliced = data.user.description | slice(0,50) ~ '...' %}

									<p class="card-text">
										<small>{{descriptionSliced |  raw }}</small>
									</p>
									<p class="card-text">
										<small class="text-muted">{{ data.user.city }}({{data.user.country}})</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
		<div class="block-themes">
			<h2>Pour les passionnées du Sport</h2>

			<div class="row my-5">

				{% for data in themes1 %}

					{% include "home/_adWithFilters.html.twig" with {'ad': data.ad} %}

				{% endfor %}

			</div>
			<h2>Pour les amateurs de la Literature</h2>

			<div class="row my-5">

				{% for data in themes2 %}

					{% include "home/_adWithFilters.html.twig" with {'ad': data.ad} %}

				{% endfor %}

			</div>
			<h2>Pour les fous des Jeux-vidéos</h2>

			<div class="row my-5 theme-card">

				{% for data in themes3 %}

					{% include "home/_adWithFilters.html.twig" with {'ad': data.ad} %}

				{% endfor %}

			</div>
			<h2>Nos villas</h2>
			<div class="row my-5 theme-card">

				{% for data in houseTypes %}

					{% include "home/_adWithFilters.html.twig" with {'ad': data.ad} %}

				{% endfor %}

			</div>
			<h2>Destinations préférées
			</h2>
			<div class="row my-5 theme-card">

				{% for data in countries %}

					{% include "home/_adWithFilters.html.twig" with {'ad': data} %}

				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
