<footer class="bg-dark pt-3">
            <a class="nav-link" href="{{path("account_login")}}"> Se Connecter</a>
            <a class="nav-link" href="{{path("account_registration")}}"> S'enregistrer</a>
            <a class="nav-link" href="{{path("ad_index")}}"> Liste des annonces</a>
</footer>