<nav class="navbar navbar-expand-lg navbar-dark main-navbar">
    <a class="navbar-brand" href="{{path("homepage")}}"><img src="/images/logo1.png" class="main-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{path("ad_index")}}">Liste des annonces</a>
            </li>
        </ul>

        {% if app.user %}
            <div class="dropdown">
                <a href="{{path("account_show")}}" style="color:white;">
                    <img src="{{app.user.avatar}}" alt="Avatar de {{app.user.fullName}}" class="avatar-mini">
                </a>
                <a class="btn dropdown-toggle btnProfile" role="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{app.user.fullName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{path("account_show")}}"><i class="fas fa-user"></i> Mon compte</a>
                    <a class="dropdown-item" href="{{path("account_bookings")}}"><i class="fas fa-calendar-alt"></i> Mes Réservations</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{path("ad_create")}}"><i class="fas fa-plus"></i> Proposer une annonce</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{path("account_logout")}}"><i class="fas fa-sign-out-alt"></i> Se Déconnecter</a>
                </div>
            </div>
        {% else %}
            <a class="nav-link" href="{{path("account_login")}}"><i class="fas fa-door-open"></i> Se Connecter</a>
            <a class="nav-link" href="{{path("account_registration")}}"><i class="fas fa-sign-in-alt"></i> S'enregistrer</a>

        {% endif %}
    </div>
</nav>

<!-- Affiche les messages flash -->
{% for label, messages in app.flashes %}
<div class="container mt-5">
    <div class="alert alert-{{ label }}">
        {% for message in messages  %}
        <p>{{ message | raw }}</p>
        {% endfor %}
    </div>
</div>
{% endfor %}