<nav class="navbar navbar-expand-lg navbar-dark profile-navbar">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#profileNavbar" aria-controls="profileNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="profileNavbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item mr-3">
				<a class="nav-link" href="{{path("account_show")}}"><i class="far fa-newspaper fa-2x"></i> Mes annonces</a>
			</li>
			<li class="nav-item mr-3">
				<a class="nav-link" href="{{path("account_favorites")}}"><i class="fas fa-heart fa-2x"></i> Mes Favoris</a>
			</li>
			<li class="nav-item mr-3">
				<a class="nav-link" href="{{path("ad_create")}}"><i class="fas fa-plus-square fa-2x"></i> Proposer une annonces</a>
			</li>
			<li class="nav-item mr-3">
				<a class="nav-link" href="{{path("account_bookings")}}"><i class="far fa-calendar-alt fa-2x"></i> Mes réservations</a>
			</li>
			<li class="nav-item mr-3">
				<a class="nav-link" href="{{path("account_profile") }}"><i class="fas fa-users-cog fa-2x"></i> Modifier mon profil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path("account_password") }}"><i class="fas fa-key fa-2x"></i> Modifier le mot de passe</a>
			</li>
		</ul>
	</div>
</nav>