.email-navbar {
    display: flex;
    padding: 20px 0;
    border-bottom: 3px solid #0d98b9;
    background-color: #e6512e;
    box-shadow: 0 10px 10px #c9c9c9;
}

.email-navbar .homepage-link {
    margin: 0 50px;
}

.email-navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.email-content {
    margin: 50px 15%;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 5px 10px 25px #c9c9c9;
    padding: 20px;
}

.email-header h1, .email-header h2 {
    font-weight: 400;
}

.email-header h3 {
    margin: 25px 0;
    font-style: italic;
}

.email-host-contact {
    border: 3px solid #0d98b9;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(230, 81, 46);
    color: #fff;
}

.email-host-contact .email-host-profile-link, .email-host-contact .email-host-booking-link {
    width: 20%;
    margin: 30px;
    background-color: #0d98b9;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.email-host-contact .email-host-profile-link a, .email-host-contact .email-host-booking-link a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}


.email-host-contact p {
    font-size: 25px;
}

.email-host-contact ul {
    list-style-type: none;
}

.email-host-contact ul li{
    padding-bottom: 15px;
    font-size: 20px;
}

.email-booking-info, .email-ad-info {
    margin: 50px 25px;
}

.email-ad-info .email-ad-cover-image {
    margin-bottom: 50px;
}