/*##############
## ANIMATIONS ##
##############*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  /* 60% {
    transform: rotate(180deg);
  } */

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*#########################
###### IMAGE AVATAR  ######
#########################*/
.avatar-mini {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
}

.avatar-small {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar-medium {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*#########################
### CUSTOM FORM ELEMENTS ##
#########################*/
input[type=radio] {
  opacity: 0;
}

.form-radio-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #e6512e;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: 2px;
}

.form-radio-btn::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0d98b9;
    opacity: 0;
    transition: opacity .2s;
}

.form-check-input:checked ~ .form-check-label .form-radio-btn::after {
    opacity: 1;
}

.custom-control-input:checked ~ .form-check .custom-control-label::before {
    color: #fff;
    border-color: #e6512e !important;
    background-color: #e6512e !important;
}

#annonce_equipments .form-check, #annonce_themes .form-check, #account_themes .form-check{
  padding-left: 0 !important;
}

fieldset legend {
  font-weight: bold !important;
}

.datepicker table tr td.disabled {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(212, 212, 212) !important;
    border-radius: 0 !important;
  }
  
  .datepicker table tr td.disabled:hover {
    background-color: rgb(173, 173, 173) !important;
}
  

/*#######################
#### HEADER - NAVBAR ####
#######################*/
.main-logo {
  width: 150px;
}
.main-navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 1500 !important;
  background-color: rgb(47, 59, 89) !important;
}

.nav-link {
  color: #fff !important;
}

.dropdown {
    margin-right: 2% !important;
}

.btnProfile {
    color: #FFF !important;
    border: 1px solid #fff !important;
}

.btnProfile:hover {
  background-color: #55bafd;
}

.dropdown-toggle::after {
    margin-left: 0 !important;
}

/*##############
#### FOOTER ####
##############*/
footer {
  width: 100%;
  height: 180px;
  text-align: center;
  margin-top: 220px;
}

/*##############
### HOMEPAGE ###
##############*/
.homepage-header {
  height: 100vh;
}

.bg-video, .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
}

.bg-video-content, .bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-heading {
    text-align: center;
    padding-top: 5%;
    font-family: 'Baskervville', serif;
    color: #000000;
}

.main-heading h1 {
    font-size: 5rem;
}

.main-heading h2 {
    font-size: 3rem;
}

.main-heading .main-title{
    margin-bottom: 3%;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out
}

.main-heading .main-subtitle1 {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out
}

.main-heading .main-subtitle2 {
    margin-bottom: 3%;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out
}

.btnHome {
    width: 15%;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem !important;
    text-align: center !important;
    padding: 10px !important;
    background-color: #55bafd !important;
    border-color: #0768a8 !important;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out
}

.btnHome:hover {
  background-color: #2f3b59 !important;
  border-color: #55bafd !important;
}

.homepage-content .how-works {
  border: 2px solid #55bafd;
  border-radius: 15px;
  margin: 0 auto;
}

.homepage-content .how-works .find-theme, .homepage-content .how-works .book-place, .homepage-content .how-works .pack-and-travel{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 25px;
}

.homepage-content .dots {
  margin: auto;
  color: #55bafd;
}

.homepage-content .how-works .logos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.homepage-content .how-works .how-works-text {
  margin-top: 25px;
  text-align: center;
}

.homepage-content .card-title {
  color: #000000;
}

.homepage-content .ad-detail a:hover {
  text-decoration: none;
}

.homepage-content .card-img-content {
  margin: auto;
  padding-left: 15px !important;
}

.homepage-content .block-themes .card-body {
  padding: 0;
}

.homepage-content .block-themes .card-body a:hover {
  text-decoration: none;
}

.homepage-content .block-themes .card-body img {
  width: 100%;
}

.homepage-content .block-themes .card-content {
  padding: 10px;
}

.homepage-content .avatar-mini {
  border: 3px solid #0d98b9;
}

/*#########################
### PAGE ANNONCE INDEX  ###
#########################*/
.ads-index-filters .search-form {
  border: 3px solid #55bafd;
  border-radius: 5px;
  padding: 30px 25px 15px;
}

.ads-index-filters .filter-btn {
  background-color: #55bafd;
  color: #EFEFEF;
}

.ads-index-filters .filter-btn:hover {
  background-color: #18458b;
  color: #EFEFEF;
}

.ads-index-filters .search-form .select2-container {
  width: 100% !important;
}

.ads-index .index-map { 
  width: 100%;
  height: 850px;
  position: sticky !important;
  top: 80px !important;
}

.ads-index .btn-voirplus {
    color: #fff !important;
}

.ads-index a:hover {
    text-decoration: none;
}

.ads-index .ad-detail {
    padding-bottom: 2%;
}

.ads-index .ad-detail .card-title{
    color: #000;
}

.match-icon {
    color: #b2b42c !important;
}

.ads-index .rating-card, .ads-index .price-card, .ads-index .match {
    margin-bottom: 0;
}

.ads-index .match {
    border-radius: 0;
    padding: .2rem 1.25rem;;
}

.notes-comment .fas, .notes-comment .far{
    color: #b2b42c !important;
}

/*#########################
### PAGE ANNONCE SHOW  ###
#########################*/
.ad-show {
  max-width: 1400px !important;
}

.ad-show a:hover {
  text-decoration: none;
}

.ad-show .row {
  width: 100%;
  margin-left: 0;
}

.ad-show  .match-message{
  margin: 0 auto;
}

.like-btn, .like-icon {
  position: absolute;
  top: 0;
  right: 15px;
  padding: 10px;
}

.like-icon {
  color: #4fb3d9;
}

.like-icon i {
  text-shadow: 3px 3px 10px black !important;
}

.like-btn .far{
  color: white !important;
  text-shadow: 3px 3px 10px black !important;
}

.like-btn .fas {
  color: red !important;
  text-shadow: 3px 3px 10px black !important;
}

.badge {
  font-size: 60% !important;
  vertical-align: middle !important;
}

.badge-light {
  color: white !important;
  background-color: transparent !important;
  text-shadow: 3px 3px 8px black !important;
}

.like-icon span {
  transform: translate(-30px, -3px);
}

.ad-show .ad-images {
  display: flex;
  align-items: center;
}

.ad-show .ad-images .cover-image {
  width: 100%;
}

.ad-show .ad-detail ul {
  padding-left: 0;
}

.ad-show .ad-detail li {
  list-style-type: none;
  padding-top: 10px;
}

.ad-show .ad-equipment li {
  padding-top: 10px;
}

.ad-show .profil-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
}

.ad-show .profil-block a {
  color: #000000;
}

.ad-show .host-info {
  padding-left: 60px;
}

.ad-show .btnReserver {
  width: 25% !important;
}

.ad-show-map {
  width: 50%;
  height: 500px;
}

.ad-show .rating {
  width: 100%;
}
/*#########################
###### PAGE CREATE AD #####
#########################*/

.form-map {
    width: 100%;
    height: 500px;
}

.custom-file-label::after {
  content: "Chercher" !important;
}


/*#########################
## PAGE UTILISATEUR SHOW ##
#########################*/
.user-show  a {
  color: #443b3b;
}

.user-show a:hover {
  text-decoration: none;
  color: #000000;
}

.profile-navbar {
  background-color: rgba(13, 152, 185, .9);
  position: sticky !important;
  top: 65px;
  z-index: 1400;
  opacity: .9;
}

.profile-navbar li:hover {
    border-bottom: 3px solid #e6512e;
    background-color: #006268;
    font-style: italic;
    padding-top: 8px;
    margin: -8px auto;
    transition: ease-in-out .3s;
}

.profile-navbar button {
  margin-left: auto;
}

.user-show .btn-info {
  color: #FFF !important;
}

.user-show .user-detail-card li {
  list-style-type: none;
  padding-top: 10px;
}

.user-show .user-detail-card ul {
  padding-left: 0;
  border-top: 1px solid #e9e9e9;
  margin-top: 10px;
}

.user-show .user-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c9c9c9;
  border-radius: 5%;
  padding-top: 15px;
}

.user-show .user-description {
  max-width: 70% !important;
  padding-left: 40px; 
}

.followers-card h5, .following-card h5 {
  margin-bottom: 0 !important;
  font-weight: bold;
}

.followers-card .card-body, .following-card .card-body {
  flex: unset !important;
  padding: .75rem !important;
  text-align: center;
  border-bottom: 2px solid #18458b;
}

.follow-btn:hover, .unfollow-btn:hover {
  color: #fff !important;
}

/*#########################
## PAGE ACCOUNT BOOKINGS ##
#########################*/
.account-bookings a:hover {
  text-decoration: none;
}

/*#########################
## PAGE PASSWORD UPDATE ###
#########################*/
.password-update form {
  width: 40%;
  margin: 0 auto;
}

/*#########################
## PAGE RESERVATION SHOW ##
#########################*/
.booking-show .booking-details {
  padding: 40px;
}

.booking-show .booking-details li{
  list-style-type: circle;
}

.booking-show .user-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.booking-show li {
  padding-top: 10px;
}

.booking-show .user-detail-card li {
  list-style-type: none;
}

/*##################
### ADMIN SECTION ##
##################*/

.admin-login-form {
  margin-top: 15%;
  margin-left: 20%;
}

.admin-header .link-to-homepage {
  width: 150px !important;
  padding-top: 15% !important;
}

.dashboard-links {
  padding-left: 5% !important;
}

.dashboard-links .nav-item{
  font-size: 1.3em;
  margin-bottom: 10%;
}

.dashboard-links .dashboard-icons {
  float: right;
  padding-top: 3%;
}

.admin-comments-index .comment-content {
  width: 50% !important;
}

.admin-bookings-index .comment-content {
  width: 25% !important;
}

.image-mini {
  width: 50% !important;
}

.admin-user-index .user-country {
  width: 10%;
}

.admin-user-index .user-theme {
  width: 10%;
}

.dashboard-user-stats h4, .dashboard-ad-stats h4, .dashboard-book-stats h4, .dashboard-comment-stats h4 {
  text-align: center;
  font-weight: bold;
}

.dashboard-user-stats, .dashboard-book-stats {
  color: #EFEFEF;
}

.admin-dashboard .fa-medal {
 color: #b2b42c !important;
}

.admin-dashboard a {
  color: #000000;
}

.admin-dashboard a:hover {
  text-decoration: none;
  color: #2f2e2e;
}

/* MEDIA QUERYS */
@media screen and (max-width: 991px) {
  .homepage-header .btnHome {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .homepage-header .main-heading h1 {
    font-size: 4rem;
  }

  .homepage-content .best-users .card-img-content {
    text-align: center;
    padding-top: 15px;
  }

  .homepage-content .best-users .card-body {
    padding-top: 15px;
    text-align: center;
  }

  .ad-show .ad-images .carousel-images {
    margin-top: 50px;
  }
  .ad-show .title-block, .ad-show .btns-block {
    text-align: center;
  }

  .ad-show .rating-block, .ad-show .btns-block {
    margin-top: 25px;
  }

  .ad-show .host-info {
    padding-left: 0;
  }

  .booking-show h1, .booking-show .booking-details h2 {
    text-align: center;
  }
  
  .booking-show .booking-details ul, .booking-show .user-detail-card ul{
    padding-left: 0;
  }
  
  .booking-show .ad-rent-details img {
    width: 100%;
  }

  .user-show .user-description {
    max-width: 100% !important;
    margin: 40px auto 0;
    padding-left: 0;
  }

}

@media screen and (max-width: 575px) {
  
  .main-heading h2 {
    font-size: 2rem;
  }
  
  /* .annonce-show .btn-delete {
    margin-top: 25px;
  } */
  
  .ad-show .ad-equipment {
    margin-top: 25px;
  }
  
  .ad-show .ad-detail-hote{
    text-align: center;
  }
  
  .user-show h2, .user-show h3 {
    text-align: center;
  }

  .user-show .user-detail-card {
    width: 65%;
    margin: 0 auto;
  }
  
  .user-show .user-description {
        padding-left: 25px;
  }
  
  .user-show .user-themes {
    text-align: center;
  }
  
  .booking-book .price-recap {
    text-align: center;
  }
  
  .booking-book .total-price {
    margin-top: 25px;
  }
  
  .booking-show .booking-details {
    margin: 0 15px 40px;
  }
}