{% extends "admin/base.html.twig" %}

{% block title %}Editer reservation n°{{ booking.id }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modifier la reservation n° {{ booking.id }}</h1>
        {{form_start(form)}}
        <div class="row">
            <div class="col-6">
                {{form_row(form.arriveDate)}}
                {{form_row(form.leaveDate)}}
            </div>
            <div class="col-6">
                {{form_label(form.booker, 'Changer voyageur')}}
                {{form_widget(form.booker)}}
                <br>
                {{form_label(form.ad, 'Changer annonce / logement')}}
                {{form_widget(form.ad)}}
            </div>
            <div class="col-12">
                {{form_row(form.comment)}}
                <button type="submit" class="btn btn-success">Sauvegarder les modifications</button>
            </div>
        </div>
        {{form_end(form)}}
    </div>
{% endblock %}
