{% extends "/admin/base.html.twig" %}

{% block title %}Administration des réservations{% endblock %}

{% block body %}
	<div class="container-fluid mx-auto admin-bookings-index">
		<div class="row">
			{% include "admin/partials/adminMenu.html.twig" %}

			<div class="col-10 mb-5">
				<h1 class="py-3 text-center">Liste des réservations</h1>
				<table class="table table-striped" id="myBookingTable">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th class="text-center">Auteur</th>
							<th class="text-center">Date Réservation</th>
							<th class="text-center">N° Annonce</th>
							<th class="text-center">Commentaire</th>
							<th class="text-center">Nombre de jours</th>
							<th class="text-center">Prix Total</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for booking in pagination.data %}
							<tr>
                                <td>{{ booking.id }}</td>
                                <td>
                                    <img src="{{ booking.booker.avatar }}" alt="Avatar de {{ booking.booker.fullName }}" class="avatar-mini">
                                    {{ booking.booker.fullName }}
                                </td>
                                <td>{{ booking.createdAt | date('d/m/Y à H:i')}}</td>
                                <td class="text-center">{{ booking.ad.id }}</td>
                                <td class="comment-content">
                                    {% if booking.comment is not empty %}
                                        {{ booking.comment }}
                                    {% else %}
                                        <p>Pas de commentaire</p>
                                    {% endif %}
                                </td>
                                <td class="text-center">{{ booking.totalDays }} jours</td>
                                <td class="text-center">{{ booking.totalPrice }} &euro;</td>
								<td>
									<a href='{{path('admin_booking_edit', {'id': booking.id})}}' class="btn btn-info">
										<i class="fas fa-pencil-alt"></i>
										Editer
									</a>
									<a href="{{path('admin_booking_delete', {'id': booking.id})}}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cette réservation ?')"class="btn btn-danger">
										<i class="far fa-trash-alt"></i>
										Supprimer
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{{ pagination.display }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function () {
			$('#myBookingTable').DataTable();

			});
	</script>

{% endblock %}

