<div class="col-2 bg-dark pt-5">
	<ul class="navbar-nav mr-auto dashboard-links">
		<li class="nav-item">
			<a class="nav-link" href="{{path('admin_dashboard')}}">
				<i class="fas fa-tachometer-alt"></i>
				Tableau de bord</i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{path('admin_ad_index')}}">
				<i class="far fa-newspaper"></i>
				Annonces</a>
		</li>
		<li class="nav-item">
            <a class="nav-link" href="{{path('admin_comment_index')}}">
				<i class="far fa-comments"></i>
				Commentaires</a>
		</li>
		<li class="nav-item">
            <a class="nav-link" href="{{path('admin_booking_index')}}">
				<i class="fas fa-plane-departure"></i>
				Réservations</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{path('admin_user_index')}}">
				<i class="fas fa-users"></i>
				Utilisateurs</a>
		</li>
	</ul>
</div>
