<nav class="navbar navbar-expand-lg navbar-dark bg-info admin-header">
	<a class="navbar-brand mr-5" href="{{path('admin_ad_index')}}" style="color:#fff">AirLikeBnb</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_dashboard')}}">
					<i class="fas fa-tachometer-alt"></i> Tableau de bord
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_ad_index')}}">
					<i class="fas fa-newspaper"></i> Annonces
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_comment_index')}}">
					<i class="far fa-comments"></i> Commentaires
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_booking_index')}}">
					<i class="fas fa-plane-departure"></i> Réservations
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_user_index')}}">
					<i class="fas fa-users"></i> Utilisateurs
				</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
                <a class="nav-link link-to-homepage" href="{{ path('homepage')}}"><i class="far fa-eye"></i> Aller au site</a>
			</li>
        
		    {% if app.user %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton">
                    <img src="{{ app.user.avatar}}" class="avatar-mini mr-1" alt="Avatar de {{app.user.fullName}}">
                    {{app.user.fullName}}
				</a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{path('admin_account_logout')}}">
                        <i class="fas fa-sign-out-alt"></i>
                        Se Déconnecter
                    </a>
                </div>
			</li>
		    {% else %}
        </ul>

		{% endif %}
	</div>
</nav>

<!-- Affiche les messages flash -->
{% for label, messages in app.flashes %}
	<div class="container mt-5">
		<div class="alert alert-{{ label }}">
			{% for message in messages  %}
				<p>{{ message | raw }}</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}

