<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Baskervville|Lato|Lilita+One&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/font-awesome-animation.css">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/> {% block stylesheets %}{% endblock %}
		
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/r-2.2.3/sp-1.0.1/datatables.min.css"/>

	</head>
	<body>
		{% include 'admin/partials/header.html.twig' %}

		{% block body %}{% endblock %}

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="https://kit.fontawesome.com/530c052f6f.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/r-2.2.3/sp-1.0.1/datatables.min.js"></script>


		{% block javascripts %}{% endblock %}

	</body>
</html>

