{% extends 'base.html.twig' %}

{% block title %}Reservation de l'annonce {{ ad.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block body %}
    <div class="container booking-book mt-5">
        <h1>Reserver : {{ ad.title }}</h1>
        <h5 class="mt-4">Cette anonce est proposé par <strong>{{ ad.author.nickName }}</strong></h5>
        {{ form_start(form) }}
        <div class="alert alert-dark mt-4">
            <h2>Choisisez les dates de votre séjour</h2>
            <div class="row mt-3">
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.arriveDate) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.leaveDate) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="d-none ad-capacity">{{ ad.capacity }}</small>
                    {{ form_row(form.travelers) }}
                </div>
            </div>
        </div>
        <div class="row mt-5 price-recap">
            <div class="col-sm-12 col-md-6 duration">
                <h4>
                    <strong>
                        <span id="days">...</span>
                    </strong> 
                    nuit(s) à {{ ad.price}}&euro; / nuit
                </h4>
            </div>
            <div class="col-sm-12 col-md-6 total-price">
                <h4>
                    Montant du séjour : 
                    <span id="totalPrice">...</span> 
                    &euro;
                </h4>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 ">
                <h5>Ecrire à l'hôte {{ ad.author.fullName }}</h5>
                {{ form_row(form.comment) }}
            
                <button type="submit" class="btn btn-success mt-3 w-25">Reserver</button>
                
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function(){
            $('#booking_arriveDate, #booking_leaveDate').datepicker({
                 format: 'dd/mm/yyyy',
                 datesDisabled: [
                     {% for day in ad.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                     {% endfor %}
                 ],
                 startDate: new Date()
            });

            let capacity = $('.ad-capacity')[0].innerText;
            $('#booking_travelers').attr("min", 1);
            $('#booking_travelers').attr("max", capacity);

            $('#booking_arriveDate, #booking_leaveDate').on('change', calculateAmount);

            function calculateAmount() {
                // On récupére les dates
                // Avec le regex on récupére 18/02/2020 et on le transforme en 18-02-2020
                const leaveDate = new Date($('#booking_leaveDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
                const arriveDate = new Date($('#booking_arriveDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

                if (arriveDate && leaveDate && arriveDate < leaveDate) {
                    const DAY_TIME = 24 * 60 * 60 * 1000;

                    const interval = leaveDate.getTime() - arriveDate.getTime();
                    const days = interval / DAY_TIME;
                    const totalPrice = days * {{ ad.price }};

                    $('#days').text(days);
                    $('#totalPrice').text(totalPrice.toLocaleString('fr-FR'));

                }
            }
        });
    </script>
{% endblock %}

