{% extends 'base.html.twig' %}

{% block title %}Reservation n° {{ booking.id }}{% endblock %}

{% block body %}

	{% include 'partials/profileNavbar.html.twig' %}

	{% set hote = booking.ad.author %}
	{% set ad = booking.ad %}

	<div class="container booking-show my-5">
		{# Si on vient de réserver l'annonce un bandeau avec un message sera affiché #}
		{% if app.request.query.get('whithAlert') %}
			<div class="alert alert-success mt-5">
				<p>La reservation de l'hebergement
					<strong>{{ ad.title}}</strong>
					proposée par
					<strong>{{ hote.fullName }}</strong>
					a bien été pris en compte, preparez vos bagages !!!</p>
			</div>
		{% endif %}
		<h1>Reservation du bien :
			{{ ad.title }}</h1>
		<div class="row my-5">
			<div class="col-sm-12 col-md-6 booking-details shadow">
				<h2>Détails de la réservation</h2>
				<ul>
					<li>
						<strong>N° de reservation :</strong>
						{{ booking.id }}</li>
					<li>
						<strong>Voyageurs :</strong>
						{{ booking.travelers }}
						personnes</li>
					<li>
						<strong>Date d'arrivée :</strong>
						{{ booking.arriveDate | date('d/m/Y') }}</li>
					<li>
						<strong>Date de sortie :</strong>
						{{ booking.leaveDate | date('d/m/Y') }}</li>
					<li>
						<strong>Nombre de nuits :</strong>
                        {{ booking.totalDays }}</li>
					<li>
						<strong>Montant total :</strong>
						{{ booking.totalPrice }}&euro;</li>
					<li>
						<strong>Message pour l'hôte :</strong>
						{{ booking.comment | default('Aucun commentaire') }}</li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="user-detail-card shadow">
					<h2>Détails de l'hôte</h2>
					<img src="{{hote.avatar}}" alt="Avatar de {{ hote.fullName }}" class="avatar-medium">
					<ul>
						<li>Nom de l'hote :
							<strong>{{ hote.fullName }}</strong>
						</li>
						<li>Email:
							<strong>{{ hote.email }}</strong>
						</li>
						<li>Numéro de contacte:
							<strong>{{ hote.phone }}</strong>
						</li>
					</ul>
					<a href="{{ path("user_show", {"slug": hote.slug}) }}" class="btn btn-primary">Savoir plus sur l'hote</a>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-12 ad-rent-details">
				<h2>Détails de l'hebergement</h2>
				<img src="/images/{{ ad.coverImage }}" alt="Image de l'annonce {{ ad.title }}" class="my-4">
				<h4 class="mb-4">Titre :
					{{ ad.title }}</h4>
				<p>Description :
					{{ ad.description | raw }}</p>
				<hr class="my-5">
				<h3>Caracteristiques</h3>
				<div class="row my-5">
					<div class="col-6">
						<p>
							<i class="fas fa-map-marker-alt"></i>
							{{ ad.fullAddress }}</p>
						<p>
							<i class="fas fa-home"></i>
							{{ ad.houseType.name }}</p>
						<p>
							<i class="fas fa-door-closed"></i>
							{{ ad.rooms}}
							chambre(s)</p>
					</div>
					<div class="col-6">
						<p>
							<i class="fas fa-bed"></i>
							{{ ad.beds }}
							lit(s)</p>
						<p>
							<i class="fas fa-toilet"></i>
							<i class="fas fa-shower"></i>
							{{ ad.bathrooms }}
							Salle(s) de bain</p>
						<p>
							<i class="fas fa-moon"></i>
							Prix :
							{{ ad.price }}€ / nuit</p>
					</div>
				</div>
				<hr class="my-5">
				<div class="row">
					<div class="col-12">
						<p>
							<strong>Equipements :
							</strong>
							{% for equipment in ad.equipments %}
								{{ equipment.name }},
							{% endfor %}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<p>
							<strong>Thematique(s) :
							</strong>
							{% for theme in ad.themes %}
								{{ theme.name }},
							{% endfor %}
						</p>
						<p></p>
					</div>
				</div>

				<a href="{{ path("ad_show", {"slug": ad.slug}) }}" class="btn btn-primary mt-5">Savoir plus sur l'annonce</a>
			</div>
		</div>
		<div class="row">
			<div
				class="col-12">

				{# Si la date actuelle est superieure à la date de sortie on afffiche le formulaire #}
				{% if date() > date(booking.leaveDate) %}

					{% set comment = booking.ad.commentFromAuthor(app.user) %}

					{% if comment is not null %}

						<h2>Voici votre commentaire :</h2>
						<div class="alert alert-dark px-4 py-4 shadow">
							<blockquote>{{ comment.content }}</blockquote>
							<strong>Note :
							</strong>
							{% include 'partials/notes.html.twig' with {'notes': comment.note }%}
						</div>
					{% else %}
						<h2 class="alert alert-info">Donnez votre avis, c'est important !</h2>

						{{ form_start(form) }}
						{{ form_widget(form) }}
						<button type="submit" class="btn btn-success">Confirmer</button>
						{{ form_end(form) }}

					{% endif %}
				{% else %}
					<p class="alert alert-danger">
						<strong>Vous devez attendre la fin de votre séjour pour donner votre avis !</strong>
					</p>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
