{% extends "admin/base.html.twig" %}

{% block title %}Editer commentaire n°{{ comment.id }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Editions du commentaire n° : {{ comment.id }} </h2>
        <div class="row">
            <div class="col-12 bg-light shadow-lg p-5">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success">Sauvegarder les modifications</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4">
                <h2>Auteur du commentaire</h2>
                <div class="card bg-light">
                    <div class="card-header">
                        <img src="{{ comment.author.avatar }}" alt="Avatar de {{ comment.author.fullName }}" class="avatar-mini">
                        {{ comment.author.fullName }}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h2>Annonces concernés</h2>
                {% set ad = comment.ad %}
                <div class="card bg-light">
                    <div class="card-header text-center">
                        <img src="{{ ad.coverImage }}" alt="Image de l'annonce {{ ad.title }}" class="image-mini">
                    </div>
                    <div class="card-body">
                        <p><strong>Titre :</strong> {{ad.title}}</p>
                        <hr>
                        <p><strong>Contenu</strong> {{ad.description | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
