{% extends "/admin/base.html.twig" %}

{% block title %}Administration des commentaires {% endblock %}

{% block body %}
	<div class="container-fluid mx-auto admin-comments-index">
		<div class="row">
            {% include "admin/partials/adminMenu.html.twig" %}

			<div class="col-10 mb-5">
				<h1 class="py-3 text-center">Liste des commentiares</h1>
				<table class="table table-striped" id="myCommentTable">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th class="text-center">Auteur</th>
							<th class="text-center">Contenu</th>
							<th class="text-center">Note</th>
							<th class="text-center">Date publication</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
                        {% for comment in pagination.data %}
							<tr>
                                <td>{{ comment.id }}</td>
                                <td class="text-center">
                                    <img src="{{ comment.author.avatar }}" alt="Avatar de {{ comment.author.fullName }}" class="avatar-mini">
                                    <br>{{ comment.author.fullName }}
                                </td>
								<td class="comment-content">{{ comment.content | raw }}</td>
								<td class="text-center"><strong>{{ comment.note | round(1, 'common')}}</strong> / 5</td>
								<td>{{ comment.createdAt | date('d/m/Y à H:i') }}</td>
								<td>
                                    <a href='{{path('admin_comment_edit', {'id': comment.id})}}' class="btn btn-info">
										<i class="fas fa-pencil-alt"></i> Editer
                                    </a>
									<a href="{{path('admin_comment_delete', {'id': comment.id})}}" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce commentaire ?')" class="btn btn-danger">
										<i class="far fa-trash-alt"></i> Supprimer
                                    </a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{{ pagination.display }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function () {
			$('#myCommentTable').DataTable();

		});
	</script>

{% endblock %}
