{% extends 'admin/base.html.twig' %}

{% block title %}Interface Administrateur{% endblock %}

{% block body %}
    <div class="container-fluid admin-dashboard">
        <div class="row">

            {% include "admin/partials/adminMenu.html.twig" %}
            
            <div class="col-10">
                <div class="row">
                    <h1 class="mt-4 mx-auto">Statistiques du site</h1>
                </div>
                <div class="row my-5">
                    <div class="col-3">
                        <div class="card bg-success shadow dashboard-user-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2"><i class="far fa-user-circle fa-3x"></i></div>
                                    <div class="col-md-10">
                                        <h4>{{ stats.users}} Utilisateurs enregistrés</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-warning shadow dashboard-ad-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2"><i class="far fa-newspaper fa-3x"></i></div>
                                    <div class="col-md-10">
                                        <h4>{{ stats.ads}} Annonces publiées</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-info shadow dashboard-book-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2"><i class="far fa-calendar-check fa-3x"></i></div>
                                    <div class="col-md-10">
                                        <h4>{{ stats.bookings}} Réservations réalisées</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-light shadow dashboard-comment-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2"><i class="far fa-comments fa-3x"></i></div>
                                    <div class="col-md-10">
                                        <h4>{{ stats.comments}} Commentaires laissés</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row mb-5">
                    <div class="col-6">
                        <h1 class="py-3 text-center"><i class="fas fa-medal"></i> Les meilleures annonces</h1>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Annonces</th>
                                    <th class="text-center">Auteur</th>
                                    <th class="text-center">Moyenne</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ad in topAds %}
                                <tr>
                                    <td><a href="{{path('admin_ad_edit', {'id': ad.id})}}">{{ ad.title }}</a></td>
                                    <td class="text-center">
                                        <img src="{{ ad.avatar }}" alt="Avatar de {{ad.firstName }} {{ ad.lastName }}" class="avatar-mini">
                                        <br>{{ad.firstName }} {{ ad.lastName | upper }}
                                    </td>
                                    <td class="text-center"><strong>{{ ad.note |round(1, 'common')}}</strong> / 5</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <h1 class="py-3 text-center"><i class="far fa-thumbs-down"></i> Les moins populaires</h1>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Annonces</th>
                                    <th class="text-center">Auteur</th>
                                    <th class="text-center">Moyenne</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ad in worstAds %}
                                <tr>
                                    <td><a href="{{path('admin_ad_edit', {'id': ad.id})}}">{{ ad.title }}</a></td>
                                    <td class="text-center">
                                        <img src="{{ ad.avatar }}" alt="Avatar de {{ad.firstName }} {{ ad.lastName }}"
                                            class="avatar-mini">
                                        <br>{{ad.firstName }} {{ ad.lastName | upper }}
                                    </td>
                                    <td class="text-center"><strong>{{ ad.note |round(1, 'common')}}</strong> / 5</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="py-3 text-center">Les images du site</h1>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Image</th>
                                    <th class="text-center">Annonce</th>
                                    <th class="text-center">Titre</th>
                                    <th class="text-center">Nom du fichier</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for image in images %}
                                <tr>
                                    <td>image n° : {{ image.id }}</td>
                                    <td><img src="/images/{{image.url}}" alt="" style="width: 100px;"></td>
                                    <td><a href="{{path('admin_ad_edit', {'id': image.ad.id})}}">{{ image.ad.title }}</a></td>
                                    <td>{{ image.title }}</td>
                                    <td class="text-center">{{ image.url }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
