<div class="card shadow">
	<a href="{{path("ad_show", {"slug": ad.slug}) }}" class="ad-link">
		<img src="/images/{{ad.coverImage}}" class="card-img-top" alt="Image de l'annonce {{ ad.title}}">
		<div class="like-icon">
			<i class="fas fa-heart fa-2x"><span class="badge badge-light">{{ ad.getLikedBy | length}}</span></i>
		</div>
	</a>
	<div class="card-body ad-detail">
		<a href="{{path("ad_show", {"slug": ad.slug}) }}" class="ad-link">
			<h5 class="card-title">
				{% if app.user and ad.searchSameTheme(app.user) and ad.author is not same as(app.user) %}
					<i class="fas fa-exclamation-triangle faa-shake animated faa-slow fa-lg match-icon"></i>
				{{ ad.title}}
					<i class="fas fa-bolt faa-flash animated match-icon"></i>
				{% else %}
					{{ ad.title}}
				{% endif %}
			</h5>
		</a>
				
		<small>
			{{ ad.capacity }} voyageur(s) - {{ ad.houseType.name }}
		</small><br>
		
		<p>
			{{ ad.city}} ({{ad.country}})
		</p>

		<p class="mt-2">Thémes :
	
			{% for theme in ad.themes %}
				{% if app.user and theme in app.user.themes and ad.author is not same as(app.user) %}
					<strong>{{ theme.name }}</strong>{% if not loop.last %},{% endif %}
				{% else %}
					{{ theme.name }}{% if not loop.last %},{% endif %}
				{% endif %}
			{% endfor %}
		</p>
		<div class="col-md-4 card-img-badge float-right pt-3 mr-1">
			<a href="{{ path("user_show", {"slug": ad.author.slug}) }}">
				<img src="{{ ad.author.avatar}}" class="avatar-mini" alt="Avatar de {{ad.author.fullName}}">
			</a>
		</div>
		<p class="rating-card mb-3">
			{% if ad.comments | length > 0 %}
				{% include 'partials/notes.html.twig' with {'notes': ad.avgRating } %}
				<strong>{{ ad.avgRating | round(1, 'common')}}</strong> ({{ ad.comments | length }})
			{% else %}
				<small>Pas encore noté</small>
			{% endif %}
		</p>
		<p class="price-card"><strong>{{ ad.price }}€</strong> / nuit</p>
		{% if ad.author is same as(app.user) %}
			<a href="{{path("ad_edit", {"slug": ad.slug}) }}" class="btn btn-info my-3">Editer l'annonce</a>
		{% endif %}
	</div>
</div>