{# Affichage du sous formulaire des images #}
{% block _annonce_images_widget %}
    <p>Ajoutez plusieurs images pour valoriser votre bien</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widget-counter" value="0">

    <div class="form-group">
        <button type="button" class="btn btn-primary" id="ajout-image">Ajouter une image</button>
    </div>
{% endblock %}

{% block _annonce_images_entry_row %}

    {{ form_widget(form) }}

{% endblock %}

{% block _annonce_images_entry_widget %}

    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }}
                    </div>
                    <div class="col-sm-12 col-md-6">
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}



