{# Affichage des inputs radio #}
{% block _annonce_houseType_entry_row %}

	{{ form_widget(form) }}

{% endblock %}

{# Personnalisation des input radio #}
{% block  _annonce_houseType_entry_label %}

	<input type="radio" {{ block('widget_attributes') }} class="form-check-input" {% if value is defined %} value="{{ value }}" {% endif %} {% if checked %} checked="checked" {% endif %}/>

	{% if label is not same as(false) %}

		{% if not compound %}
			{% set label_attr = label_attr | merge({'for': id}) %}
		{% endif %}

		{% if required %}
			{% set label_attr = label_attr | merge({'class': (label_attr.class | default('') ~ 'form-check-label required') | trim}) %}
		{% endif %}

		{% if label is empty %}
			{% set label = name | humanize %}
		{% endif %}

		<label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}" {% endfor %}>{{ label|trans({}, translation_domain) }}

			{% if required %}
				<span class="form-radio-btn"></span>
			{% endif %}

		</label>
	{% endif %}
{% endblock %}
