{% extends "base.html.twig" %}

{% block title %}Edition d'une annonce{% endblock %}

{% form_theme form with 
    [
        'ad/_collection.html.twig',
        'ad/_radioButton.html.twig',
        'ad/_checkboxButton.html.twig',
    ]
%}

{% block body %}
	{% include 'partials/profileNavbar.html.twig' %}

    <div class="container my-5">
        <h2>Modificatioon de l'annonce : {{ ad.title }}</h2>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.address) }}
        
        <div class="row mt-4">
            <div class="col-4">
                {{ form_row(form.zipCode) }}
            </div>
            <div class="col-4">
                {{ form_row(form.city) }}
            </div>
            <div class="col-4">
                {{ form_row(form.country) }}
            </div>
        </div>
        <small  class="d-none ad-coords" data-lat="{{ad.lat}}" data-lon="{{ad.lon}}"></small>
        <div id="formMap" class="form-map"></div>
        <div class="row mt-4">
            <div class="col-4">
                {{ form_row(form.rooms) }}
            </div>
            <div class="col-4">
                {{ form_row(form.beds) }}
            </div>
            <div class="col-4">
                {{ form_row(form.bathrooms) }}
            </div>
        </div>
        <div class="row my-4">
            <div class="col-6">
                {{ form_row(form.capacity) }}
            </div>
            <div class="col-6">
                {{ form_row(form.price) }}
            </div>
        </div>

        {{ form_row(form.coverImage) }}

        <div class="row mb-3">
            <div class="col-lg-3">
                {{ form_row(form.houseType)}}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.equipments)}}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.themes)}}
            </div>
        </div>

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success">Sauvegarder les modifications</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="/js/formImagesHandler.js"></script>
	<script src="/js/formMapHandler.js"></script>
{% endblock %}
