{% extends 'base.html.twig' %}

{% block title %}Binvenue à notre site{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
{% endblock %}

{% block body %}
	<div class="container ads-index-filters mt-5">
		<h1>Les annonces Disponibles en ce moment</h1>
		<span class="btn float-right filter-btn">
			Filtres
			<i class="fas fa-sliders-h"></i>
		</span>
		<br><br>

		<div class="search-form shadow">

			{{form_start(form)}}

			<div class="form-row">
				<div class="col-md-3">
					{{form_row(form.city)}}
				</div>
				<div class="col-md-3">
					{{form_row(form.country)}}
				</div>
				<div class="col-md-2">
					{{form_row(form.rooms)}}
				</div>
				<div class="col-md-2">
					{{form_row(form.beds)}}
				</div>
				<div class="col-md-2">
					{{form_row(form.bathrooms)}}
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-12 col-md-3 col-lg-4">
					{{form_row(form.themes)}}
				</div>
				<div class="col-sm-12 col-md-3 col-lg-4">
					{{form_row(form.houseTypes)}}
				</div>
				<div class="col-sm-12 col-md-3 col-lg-4">
					{{form_row(form.equipments)}}
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-secondary">Recherche</button>
			</div>

			{{form_end(form)}}
		</div>
	</div>

	<div class="container-fluid mt-5 ads-index">
		<div class="row mt-5 main-row">

			<div class="col-sm-12 col-md-5 col-lg-6">
				<div class="row">
					{% for ad in ads %}
						<div class="col-md-12 col-lg-6 mb-3">
							<small class="d-none js-coords d{{loop.index}}">
								<span data-lat="{{ad.lat}}" data-lon="{{ad.lon}}"></span>
							</small>
							{% include "ad/_ad.html.twig" %}
						</div>
					{% endfor %}
				</div>
			</div>
			
			<div class="d-none d-sm-block col-sm-12 col-md-7 col-lg-6 mb-5">

				<div id="mapid" class="index-map"></div>
			
			</div>

		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}


<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
<script src="/js/adsIndex.js"></script>

{% endblock %}

