{% extends 'base.html.twig' %}

{% block title %}Annonce n° : {{ ad.id }}{% endblock %}

{% block body %}

<div class="container ad-show mt-1">
    <div class="row">
        {% if 
            app.user and 
            ad.searchSameTheme(app.user) and 
            ad.author is not same as(app.user)
        %}
            <h2 class="alert alert-success match-message mt-5"><i class="fas fa-bolt faa-flash animated match-icon"></i> C'est un match ! vous partagez une ou plusieurs thématiques, contactez l'hôte vite !!!</h2>
        {% endif %}

{% set isLiked = ad.getLikedBy.contains(app.user) %}
            
        <div class="row ad-images mt-5">
            <div class="col-sm-12 col-md-6">
                <img src="/images/{{ad.coverImage}}" class="img img-fluid cover-image">
                {% if ad.author is same as(app.user) %}
                    <div class="like-icon">
                        <i class="fas fa-heart fa-2x"><span class="badge badge-light">{{ ad.getLikedBy | length}}</span></i>
                    </div>
                {% else %}
                    <div class="like-btn">
                        <i style="display: {% if not isLiked %}block{% else %}none{% endif %}" class="far fa-heart fa-2x" id="like"><span class="badge badge-light" id="likes-like">{{ ad.getLikedBy.count}}</span></i>

                        <i style="display: {% if isLiked %}block{% else %}none{% endif %}" class="fas fa-heart fa-2x" id="unlike"><span class="badge badge-light" id="likes-unlike">{{ ad.getLikedBy.count}}</span></i>
                    </div>
                {% endif %}
                
            </div>
            <div class="col-sm-12 col-md-6 carousel-images">
                <div class="bd-example">
                    <div id="carouselImagesAnnonce" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in ad.images %}
                                <li data-target="#carouselImagesAnnonce" data-slide-to="{{loop.index0}}" {% if loop.first %} class="active">{% endif %}</li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in ad.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="/images/{{ image.url }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{image.title}}</h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <a class="carousel-control-prev" href="#carouselImagesAnnonce" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselImagesAnnonce" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 title-block">
            <div class="col-sm-12 col-md-9">
                <h1>{{ ad.title }}</h1>
                <div class="col-sm-12 col-md-6 rating-block">
                    {% if ad.comments | length > 0 %}
                        <h5>
                            {% include 'partials/notes.html.twig' with {'notes': ad.avgRating } %}
                            <small>{{ ad.avgRating | round(1, 'common')}} ({{ ad.comments | length }} avis)</small>
                        </h5>
                    {% endif %}        
                </div>
            </div>
            <div class="col-sm-12 col-md-3 profil-block">
                {% set a = ad.author %}
                <a href="{{ path("user_show", {"slug": a.slug}) }}">
                    <img src="{{a.avatar}}" alt="" class="avatar-small">
                </a>
                <a href="{{ path("user_show", {"slug": a.slug}) }}">
                    <h3>{{ a.nickName }}</h3>
                </a>
            </div>
        </div>
            
        <div class="row btns-block">
            <div class="col-sm-12 col-md-6">
                {% if ad.author is same as(app.user) %}
                    <a href="{{path("ad_edit", {"slug": ad.slug}) }}" class="btn btn-info btn-edit">Editer l'annonce</a>
                    <a href="{{path("ad_delete", {"slug": ad.slug}) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cette annonce ?')" class="btn btn-danger btn-delete">Supprimer l'annonce</a>
                {% else %}
                    <a href="{{path("booking_create", {"slug": ad.slug}) }}" class="btn btn-success btnReserver mr-5"><i class="fas fa-plane-departure"></i> Reserver !</a>
                {% endif %}
            </div>

        </div>

        <div class="ad-description my-5">
            <h3><strong>Description de l'annonce</strong></h3>
            <p>{{ ad.description | raw }} </p>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col-sm-12 col-md-6 ad-detail">
                <h3>Détails du logement</h3>
                <ul>
                    <li><i class="fas fa-users"></i> <strong>{{ ad.capacity }}</strong> voyageur(s)</li>
                    <li><i class="fas fa-home"></i> <strong>{{ ad.houseType.name }}</strong></li>
                    <li><i class="fas fa-map-marker-alt"></i> {{ ad.fullAddress }}</li>
                    <li><i class="fas fa-door-closed"></i> {{ ad.rooms }} chambre(s)</li>
                    <li><i class="fas fa-bed"></i> {{ ad.beds }} lit(s)</li>
                    <li><i class="fas fa-toilet"></i> <i class="fas fa-shower"></i> {{ ad.bathrooms }} Salle(s) de bain </li>
                    <li><i class="fas fa-moon"></i> Prix : {{ ad.price }}€ / nuit</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 ad-equipment">
                <h3>Equipements disponibles du logement</h3>
                <ul>
                    {% for equipment in ad.equipments %}
                        <li>{{ equipment.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h3>Thematique(s)</h3>
                <ul>
                    {% for theme in ad.themes %}
                        <li>{{ theme.name }}</li>
                        <ul class="py-2">
                            <li>{{theme.description}}</li>
                        </ul>    
                    {% endfor %}
                </ul>                
            </div>
            <hr>
            <div class="col-md-12 col-lg-6 ad-detail-hote mt-5 mb-4 p-4 shadow">
                <h3>Informations de l'hôte {{ ad.author.fullName }}</h3>
                <div class="row">
                    <div class="col-sm-12 col-md-2 profil-detail-block">
                        <a href="{{ path("user_show", {"slug": a.slug}) }}">
                            <img src="{{a.avatar}}" alt="" class="avatar-small">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-10 host-info">
                        <p>{{ a.fullName }}</p>
                        <p>{{ a.ads | length }} annonces publiés</p>
                        <p>{{ a.comments | length }} commentaires laissés</p>
                        <p>Pays : {{ ad.author.country }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="my-4">Localisation du logement proposé</h3>
            </div>
            <div class="col-12">
                <div id="adShowMap" class="ad-show-map" data-lat="{{ad.lat}}" data-lon="{{ad.lon}}"></div>
            </div>
        </div>
        <hr>
        {% if ad.comments | length > 0 %}
            <div class="rating my-5">
                <h4>Avis : 
                    {% include 'partials/notes.html.twig' with {'notes': ad.avgRating } %}
                    <small>{{ ad.avgRating | round(1, 'common')}} (Calculé sur	{{ ad.comments | length }} avis)</small>
                </h4>
            </div>
            <br>

            {% for comment in ad.comments %}
                <div class="shadow bg-light rounded mb-3 py-3 px-3">
                    <a href="{{ path("user_show", {"slug": comment.author.slug}) }}">
                        <img src="{{comment.author.avatar}}" alt="Avatar de {{ comment.author.fullName }}" class="avatar-mini">
                    </a>
                    <strong>{{ comment.author.fullName }}</strong>
                    <p><blockquote>{{ comment.content }}</blockquote></p>
                    <strong>Avis donné par {{ comment.author.fullName }}</strong> :

                    {% include 'partials/notes.html.twig' with {'notes': comment.note }%}
                    <p class="alert-light"><small>Publié le : {{comment.createdAt | date('d/m/Y')}}</small></p>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-secondary mt-5">
                <p>Cet annonce n'a pas encore de commentaires, soyez le premier en commenter !</p>
            </div><br>
        {% endif %}

        <div class="mt-5 col-12">
            <a href="{{path("ad_index")}}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Retour</a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <script>
        $(document).ready(function () {

            // On initalise la carte
            var mymap = L.map('adShowMap').setView([43.6112422, 3.8767337], 13);

            // On determine quel affichage on veut pour notre carte
            L.tileLayer('//{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                attribution: 'donn&eacute;es &copy;<a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - Tiles courtesy of<a href="https://ot.openstreetmap.org/">Humanitarian OpenStreetMap Team</a>',
                minZoom: 1,
                maxZoom: 19
            }).addTo(mymap);

            let datas = $('.ad-show-map');

            let marker = new L.marker([datas.data('lat'), datas.data('lon')]).addTo(mymap);

            var likeButton = document.getElementById('like');
            var unlikeButton = document.getElementById('unlike');

            addOnClick(
            likeButton,
            unlikeButton,
            document.getElementById('likes-unlike'),
            '{{ path('likes_like', {'id': ad.id})}}'
            );

            addOnClick(
            unlikeButton,
            likeButton,
            document.getElementById('likes-like'),
            '{{ path('likes_unlike', {'id': ad.id})}}'
            );

            function switchButtons(button, oppositeButton) {
            button.disabled = false;
            button.style.display = 'none';
            oppositeButton.style.display = 'block';

            }

            function addOnClick(button, oppositeButton, likeCount, path) {
            button.addEventListener('click', function(event) {
                
                {% if not app.user %}
                    return window.location.replace('{{ path('account_login')}}')
                
                {% endif %}

                button.disabled = true;

                fetch(path, {'credentials': 'include'}).then(function(response) {
                    response.json().then(function(json) {
                        likeCount.innerText = json.count;
                        switchButtons(button, oppositeButton)
                    })
                }).catch(function() {
                    switchButtons(button, oppositeButton);
                });

                event.preventDefault();
            });
            }
        });
    </script>
{% endblock %}
