{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.nickName }}{% endblock %}

{% block body %}
    {% if user is same as(app.user) %}

        {% include 'partials/profileNavbar.html.twig' %}
    
    {% endif %}

    <div class="container user-show my-5">
        <h1 class="text-center my-5">Bienvenue {% if user is same as(app.user) %} à ton profil {{ user.firstName }} {% else %}au profil de <strong>@{{ user.nickName }}</strong>{% endif %}</h1>

        <div class="row my-5">
            <div class="col-sm-12 col-md-4 col-lg-4 user-detail-card shadow">
                <img src="{{ user.avatar }}" alt="Avatar de {{ user.fullName }}" class="avatar-medium">
                <ul>
                    <li>Pseudonime: <strong>{{ user.nickName}}</strong></li>
                    <li>Nom complet: <strong>{{ user.fullName}}</strong></li>
                    <li>Contacte : <strong>{{ user.email }}</strong></li>
                    <li>Pays d'origine : <strong>{{ user.country }}</strong></li>
                    <li>Née le : <strong>{{ user.birthDate | date('d/m/Y') }}</strong></li>
                    <li>Publications : <strong>{{ user.ads | length}} annonce(s)</strong></li>
                    <li>Popularité : <strong>{{ user.followers | length}} follower(s)</strong></li>
                </ul>
                {% if is_granted('ROLE_USER') and user != app.user %}
                    {% if user.followers.contains(app.user) == false %}
                        <a href="{{ path("following_follow", {"slug": user.slug}) }}" class="btn btn-outline-primary my-3 w-100 follow-btn">Follow</a>
                    {% else %}
                        <a href="{{ path("following_unfollow", {"slug": user.slug}) }}" class="btn btn-outline-danger my-3 w-100 unfollow-btn">Unfollow</a>
                    {% endif %}
                
                {% endif %}
                
            </div>

            <div class="col-sm-12 col-md-8 col-lg-8 user-description">
                <h3>Quelques mots sur{% if user is same as(app.user) %} toi {% else %} l'hôte {% endif %}</h3>
                <p>{{ user.description | raw }}</p>
            </div>
        </div>
        <div class="row">
            <div class="card col-6 followers-card">
                <div class="card-body">
                    <h5>Followers</h5>
                </div>
                {% if user.followers | length > 0 %}
                    <ul class="list-group list-group-flush">
                        {% for follower in user.followers %}
                            <li class="list-group-item">
                                <a href="{{ path("user_show", {"slug": follower.slug}) }}">
                                    <img src="{{ follower.avatar }}" alt="Avatar de {{ follower.fullName }}" class="avatar-mini">
                                    - @{{ follower.nickName}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="pt-3"><strong>{{ user.nickName }}</strong> n'a pas de followers encore !</p>
                {% endif %}
            </div>
            <div class="card col-6 following-card">
                <div class="card-body">
                    <h5>Following</h5>
                </div>
                 {% if user.following | length > 0 %}
                    <ul class="list-group list-group-flush">
                        {% for follow in user.following %}
                            <li class="list-group-item">
                                <a href="{{ path("user_show", {"slug": follow.slug}) }}">
                                    <img src="{{ follow.avatar }}" alt="Avatar de {{ follow.fullName }}" class="avatar-mini">
                                    - @{{ follow.nickName}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="pt-3"><strong>{{user.nickName}}</strong> ne suive pas encore à personne !</p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 user-themes">
                <p><strong>Thematique(s) :</strong></p>
                <ul>
                    {% for theme in user.themes %}
                        <li>{{ theme.name }}</li>
                        <ul class="py-2">
                            <li>{{theme.description}}</li>
                        </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <h3 class="my-5">{% if user is same as(app.user) %} Tes annonces : {% else %}Les annonces de	<strong>{{ user.fullName}}</strong>{% endif %}</h3>

        {% if user.ads | length > 0 %}
            <div class="row">
                {% for ad in user.ads %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4">
                        {% include "ad/_ad.html.twig" %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">
                <p>{{ user.fullName}} n'a pas publié aucun annonce</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
