<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {% apply inline_css(source('@css/email-template.css')) %}
        <nav class="email-navbar">
            <div class="homepage-link">
                <a href="{{ url('homepage') }}">Accueil</a>
            </div>
            <div class="index-link">
                <a href="{{ url('ad_index') }}">Liste des annonces</a>
            </div>
        </nav>
        <div class="email-content">
            <div class="email-header">
                <h1>Bonjour <strong>{{ user.fullName}}</strong>, merci de nous avoir choisi pour réserver vos vacances !</h1>
                <h2>La réservation du bien <strong>{{ ad.title }}</strong> a bien été prise en compte.</h2>
        
                <h3>N'hésitez pas à contacter le proprietaire pour convenir les détails de votre arrivéé</h3>
                <div class="email-host-contact">
                    <p>Voici ses coordonées : </p>
                    <ul>
                        <li>Email : {{ad.author.email }}</li>
                        <li>Numéro de contacte : {{ ad.author.phone }}</li>
                    </ul>
                    <div class="email-host-link-buttons">
                        <div class="email-host-profile-link">
                            <a href="{{ url('user_show', {'slug': ad.author.slug}) }}">Aller sur son profile</a>
                        </div>
                        <div class="email-host-booking-link">
                            <a href="{{ url('booking_show', {'id': booking.id}) }}">Aller les détail de la réservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="email-booking-info">
                <h3>Détails de la réservation</h3>
                <p>Numéro de réservation : {{ booking.id }}</p>
                <p>Peériode réservé : du {{ booking.arriveDate | date('d/m/Y') }} au {{ booking.leaveDate | date('d/m/Y') }}</p>
                <p>Nombre de nuits : {{ booking.totalDays }}</p>
                <p>Prix total : {{ booking.totalPrice }}&euro;</p>
            </div>
            <div class="email-ad-info">
                <h3>Détails de l'hébergement réservé</h3>
                <div class="email-ad-cover-image">
                    <img src="{{ ad.coverImage }}" alt="Image de l'annonce {{ ad.title }}">
                </div>
                <p class="email-ad-title">Titre : {{ ad.title }}</p>
                <div class="email-ad-description">
                    <p>Descriptiopn :</p>
                    <p>{{ ad.description | raw }}</p>
                </div>
    
            </div>

        </div>

    {% endapply %}
    </body>
</html>